h1{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(34, 34, 34);
  background-color: bisque;
  border-radius: 30px;
}
button{
  background-color: aquamarine;
  color: blue;

}
button:hover{
  background-color: rgb(17, 74, 55);
  color: antiquewhite;
}